/*LOCAL STYLES FOR HOME PAGE

body{
    overflow-x: hidden !important;
}
.home.wrapper{
    max-width: 1600px !important;
    
}
.details{
    width: 50%;
    margin: 0 210px;
    padding-top: 80px;
    gap: 20px;
}

.paragraph{
    padding: 20px 120px;
    text-align: center;
}
.runway{
    display: flex;
    justify-self: end;
    padding-right: 40px;
}

.images{
    padding: 0 120px;
    display: grid;
    align-items: end;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    transform: translateY(-45%);
}

.images img{
    transition: transform 0.4s ease-in-out;
}

.images img:hover{
    transform: translateX(5px);
}

.images img:nth-child(2) {
    margin-left: 50px;
}

.images img:nth-child(3) {
    margin-left: 100px;
}

.images img:nth-child(4) {
    margin-left: -10px;
}

.brands{
    transform: translateY(-80%);
    padding: 0 80px;
}

.brandLogos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
}

.brandLogos img{
    width: 200px;
}